<h1><%= @space.name %></h1>
  
<br>

<div id='space_details'>
  Website: <%= link_to @space.url, @space.url %>
</div>

<br>

<% if @space.photos %>
  <div id='space_photos'>
    <% @space.photos.each do |photo| %>
      <h4><%= photo.name %></h4>
      <p><%= image_tag photo.image %></p>
    <% end %>
  </div>
<% end %>