<h1>Subscribe Now</h1>

<br>

<%= form_for @subscription do |f| %>

  <% if @subscription.errors.any? %>
    <ul>
    <% @subscription.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <p>Enter your card infomation with stripe:</p>
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="<%= CONFIG[:stripe_test_public_key] %>"
    data-amount="1499"
    data-name="Space Subscription"
    data-description="Monthly Subscription">
  </script><br><br>

  <%= f.hidden_field :user_id %>

<% end %>